* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Bitter', serif;
}

.div-logo {
    height: 25px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo {
    height: 100%;
    width: 100%;
}

.landing-main-div {
    min-height: 100vh;
    background-color: rgba(0, 208, 150, 0.5);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-div {
    min-height: 40vh;
    min-width: 35vw;
    background-color: white;
    border-radius: 15px;
}

.login-button {
    border-color: #00684b !important;
    color: #00684b !important;
}

.login-button > span {
    font-weight: bold;
}

.login-button:hover {
    background-color: #00d096 !important;
    border-color: #00d096 !important;
    color: white !important;
    cursor: pointer;
}

.login-button:disabled {
    background-color: white !important;
    border-color: #99ecd5 !important;
    color: #99ecd5 !important;
    cursor: default;
}

.google-button {
    height: 45px;
    width: 190px;
}

.google-button:hover {
    cursor: pointer;
}

.create-account-p {
    font-size: .85rem;
}

.create-account-span:hover {
    cursor: pointer;
}

@media only screen and (min-width: 720px) and (max-width: 1024px) {
    .login-form-div {
        min-width: 50vw;
    }
}

@media only screen and (width: 320px) {
    .login-form-div {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .landing-main-div {
        height: 120vh;
    }
}